<p>
  Aqui vemos el detalle de un destino de un viaje!
  <br>
  {{ destino.id }}
  <br>
  {{ destino.nombre }}
</p>

<mgl-map [style]="style" [zoom]="[2]">
  <mgl-marker [lngLat]="[-83.3863967, 4.5877987]">
     <div onclick="alert('Hola')" class="marker">
	   Hola mundo!
     </div>
  </mgl-marker>
</mgl-map>
  