<div class="container content">
    <div class="row">
        <h4>Tus destinos favoritos</h4>
    </div>
    <div class="row">
        <ul>
            <app-lista-fija *ngFor="let e of lstFavoritos" [elemento]="e"></app-lista-fija>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <span class="anchor" id="formLogin"></span>
            <!-- form card login with validation feedback-->
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">Whishlist</h3>
                </div>
                <div class="card-body">
                    <app-form-destino-viaje (onItemAdded)="agregado($event)" ></app-form-destino-viaje>
                </div>
            </div>
        </div>
    </div>
    <hr class="mb-5">
    <div class="row">
        <app-destino-viaje *ngFor="let d of all; let i = index" 
        [destino]="d" 
        [position]="i+1"
        (clicked)="elegido(d)"
        appEspiame>
        </app-destino-viaje>
    </div>
</div>