<div class="card-content" [@esFavorito]="destino.isSelected() ? 'estadoFavorito' : 'estadoNoFavorito'">
    <div class="card-img">
        <img src="https://placeimg.com/380/230/nature" alt="">
        <span>
            <h4>{{position}}</h4>
        </span>
    </div>
    <div class="card-desc">
        <h3>{{destino.nombre}}</h3>
        <p>Servicios</p>
        <ul>
            <li *ngFor="let s of destino.servicios">
                <span [ngSwitch]="s">
                    <i *ngSwitchCase="'Desayuno'" style="color:green;">{{s}}</i>
                    <i *ngSwitchCase="'Piscina'" style="color:green;">{{s}}</i>
                    <i *ngSwitchCase="'Barra libre'" style="color:green;">{{s}}</i>
                    <i *ngSwitchDefault style="color:red;">{{s}}</i>
                </span>
                
            </li>
        </ul>
        <div class="row">
            <div class="col-md-4">
                <a href="#" (click)="voteUp();" appTrackearClick data-trackear-tags="destino_vote_up lista_destinos_item"><i class="material-icons md-18">thumb_up</i></a>
            </div>
            <div class="col-md-4">
                <a href="#" (click)="voteDown();" appTrackearClick data-trackear-tags="destino_vote_down lista_destinos_item"><i class="material-icons md-18" >thumb_down</i></a>
            </div>
            <div class="col-md-4">
                {{destino.votes}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="#" (click)="reset();" >Reiniciar los votos</a>
            </div>
        </div>
        <div class="row">
            <a href="#" class="btn-card" (click)="ir()" appTrackearClick data-trackear-tags="destino_elegir_preferido lista_destinos_item">Ir!</a>
            <span *ngIf="destino.isSelected()" ngNonBindable>
                {{Preferido}}
            </span>
        </div>
        <div class="row">
            <a [routerLink]="['/destino', destino.id]">Ver detalle</a>
        </div>
        
    </div>
</div>