<form [formGroup]="fg"
    (ngSubmit)="guardar(fg.controls['nombre'].value, fg.controls['url'].value)">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" placeholder="Ingresar nombre..."
            [formControl]="fg.controls['nombre']">
        <ul>
            <li *ngFor="let r of searchResults">{{r}}</li>
        </ul>            
        <div *ngIf="!fg.controls['nombre'].valid" style="color: red;">El nombre es requerido!</div>
        <div *ngIf="fg.controls['nombre'].hasError('invalidMinLength')" style="color: red;">El tamaño minimo del nombre es de {{minLenName}} caracteres</div>
        <div *ngIf="fg.controls['nombre'].hasError('invalidMaxLength')" style="color: red;">El tamaño maximo del nombre es de {{maxLenName}} caracteres</div>
    </div>
    <div class="form-group">
        <label for="Imagen Url">Imagen Url</label>
        <input type="text" class="form-control" id="imagenUrl" placeholder="Ingresar url..." [formControl]="fg.controls['url']">
        <div *ngIf="fg.controls['url'].hasError('required')" style="color: red;">La url es requerida!</div>
    </div>
    <button type="submit" class="btn btn-primary btnForTest" *ngIf="fg.valid">Guardar!</button>
</form>
