<div class="container content">
  <div style="float: right;">
    <select (change)="translate.use($event.target.value)">
      <option value="es">Español</option>
      <option value="fr">France</option>
      <option value="en">English</option>
    </select>
  </div>

  <div class="page-header">
    <div class="container">
      <h1>Ruteo Simple</h1>
      <div id="navLinksId" class="navLinks row">
        <div class="col-md-2">
          <a [routerLink]="['/login']">Login</a>
        </div>
        <div class="col-md-2">
          <a [routerLink]="['/home']">Home</a>
        </div>
        <div class="col-md-2">
          <a [routerLink]="['/destino']">Destino</a>
        </div>
        <div class="col-md-2">
          <a [routerLink]="['/protected']">Protected</a>
        </div>
        <div class="col-md-2">
          <a [routerLink]="['/vuelos']">Vuelos</a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <h1>
      {{ title }} 
      <b [innerHTML]="'HOLA' | translate"></b>
      <b [innerHTML]="'CLIENTE' | translate"></b>
    </h1>
  </div>
  <router-outlet></router-outlet>
</div>

<hr class="mb-5">
Fecha: {{time | async}}